<header [class]="headerClass">
  <div [class]="containerClass">
    <div class="flex min-w-0 items-center gap-3">
      <img src="logo-320.png" width="320" height="96" alt="Logo findingU" [class]="desktopLogoClass" />
      <img *ngIf="showMiniLogo" src="minlogo-64.png" width="64" height="64" alt="Logo" class="h-7 w-7 md:hidden" />
      <ng-content select="[header-left]"></ng-content>
    </div>

    <div class="flex shrink-0 items-center gap-2">
      <ng-content></ng-content>
    </div>
  </div>
</header>
