<button
  [attr.type]="type"
  [disabled]="disabled"
  [class]="classes"
  [routerLink]="routerLink"
  (click)="onClick($event)"
>
  <i *ngIf="iconClass" [class]="iconClass" aria-hidden="true"></i>

  <span class="btn-content" [class.stacked]="stacked">
    <!-- Modo normal -->
    <ng-content *ngIf="!stacked"></ng-content>

    <!-- Modo stacked -->
    <span class="btn-title" *ngIf="stacked">
      <ng-content select="[btnTitle]"></ng-content>
    </span>

    <span class="btn-subtitle" *ngIf="stacked">
      <ng-content select="[btnSubtitle]"></ng-content>
    </span>
  </span>
</button>
